.container{
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
    @media screen and (min-width: 480px){
      width: 480px;
    }
   
    @media screen and (min-width: 768px){
      width: 768px;
    }

    @media screen and (min-width: 1200px){
      width: 1200px;
    }
  }
    // @media screen and (min-width: 480px) {
    //   max-width: 768px;
      // background: orange;
   
    // }
    // @media screen and (min-width: 768px) {
    //   max-width: 1280px;
      // background-color: rgb(255, 47, 47);
    // }
    // @media screen and (min-width: 1200px) {
    //     background-color: yellow;
    //   width: 1280px;
    // }
