.container{
    width: 100%;
    max-width: 480px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
    // background-color: green;
   
    @media screen and (min-width: 480px) {
      max-width: 768px;
      // background: orange;
   
    }
    @media screen and (min-width: 768px) {
      max-width: 1280px;
      // background-color: rgb(255, 47, 47);
    }
    // @media screen and (min-width: 1200px) {
    //     background-color: yellow;
    //   width: 1280px;
    // }
}