:root{
    --primary-text-color: #757575;
    --title-text-color:#2F303A;
    --accent-color: #2196F3;
    --primary-white-color: #FFFFFF;
    --color:#F5F4FA;
    --color-black:#000000;
    --color-icon:#AFB1B8;
    --color-title-black:#212121;
    --color-clients:#AFB1B8;
  }
  